body{
    background-color: #16365d;
    background-size: cover;
}
h1{
    color: white;
    font-family: Arial;
    font-size: 20px;
}
.insert{
    text-align: right;
}
p{
    color:white;
    font-family: Arial;
    font-size: 12px;
}
ul{
    color: white;
    font-family: Arial;
    font-size: 12px;
}
.tables{
    color:red;
    font-weight: bold;
    font-style: italic;
}
.footers{
    color:magenta;
    font-weight: bold;
}
.document{
    color:rgb(255, 3, 3);
    font-weight: bold;
    text-decoration:underline;
}
.par1{
    text-align: right;
}
.par2{
    text-align: center;
    color: red;
    font-weight: bold;
}
.pictures{
    text-decoration: underline;
    color: yellow;
}
.selected{
    color: blue;
    font-weight: bold;
}
.quick{
    color: greenyellow;
    font-weight: bold;
}
.par3{
    background-color: black;
    color: white;
    width: 50%;
    border-top: 1px solid red;
    border-left: 1px solid red;
    padding-bottom: 10px;
}
.galleries{
    color: yellow;
    border-bottom: 2px solid yellow;
    text-align: center;
    width: 50%;
}
.gal{
    background-color: red;
}
.controls{
    color: yellowgreen;
    font-weight: bold;
}
.cont{
    background-color: black;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid yellow;
    border-left: 1px solid red;
}
.include{
    background-color:rgba(5, 255, 5, 0.952);
    color: black;
}
.theme{
    color: red;
    font-weight: bold;
}
.direct{
    color: blue;
}